.solution {
  width: 100%;
  padding: 120px 20px;
  background: #fff;
}

.solution-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.solution-title {
  flex: 1;
}

.solution-title h2 {
  font-size: 30px;
  line-height: 1.4;
  color: #111827;
  margin-bottom: 35px;
}

.solution-title p {
  font-size: 20px;
  line-height: 1.6;
  color: #161717;
  max-width: 520px;
  margin-bottom: 45px;
}

.solution-btn {
  background: #10b5ef;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 65px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 3s;
}

.solution-btn:hover {
  background: #011a23;
}

.solution-image {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.phone {
  position: relative;
  width: 317px;
  height: 653px;

}

.phone-screen {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 281px;
  height: 612px;
  object-fit: cover;
  border-radius: 38px;
  z-index: 1;


}

.phone-frame {
  position: absolute;
  width: 317px;
  top: 0;
  left: 0;
  height: 653px;
  display: block;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}

@media (max-width: 768px) {
  .solution-container {
    flex-direction: column;
    gap: 60px;
  }

  .solution-title {
    text-align: left;

  }

  .solution-title h2 {
    font-size: 25px;
  }

  .solution-title p {
    font-size: 15px;
    line-height: 1.8;
    margin: 12px 0;
  }

  .solution-btn {
    width: 100%;
    max-width: 350px;
    height: 55px;
    display: block;
    margin-top: 30px;
  }

  .solution-image {
    width: 100%;
    justify-content: center;
  }

  .phone {
    width: 220px;
    height: 495px;

  }

  .phone-screen {
    width: 212px;
    height: 463px;
    top: 15px;
    left: 14px;
    border-radius: 30px;

  }

  .phone-frame {
    width: 240px;
    height: 495px;

  }



}