.header {
  width: 100%;
  padding: 10px 0;
  background: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;
  align-items: center;

}

.nav {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: center;
  flex: 1;

}

.nav a {
  color: rgb(26, 24, 24);
  font-weight: 600;
  text-decoration: none;
}

.btn {
  background-color: rgba(2, 156, 207);
  color: white;
  padding: 16px 34px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;

}

.btn:hover {
  background: #da892d;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: #23253b;
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    padding: 20px 30px;
  }

  .nav {
    gap: 25px;
  }

  .btn {
    padding: 12px 22px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    position: relative;
  }

  .nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #da892d;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .nav a:hover {
    background: #fff;
  }

  .nav.active {
    display: flex;
  }

  .btn {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
  }

  svg {
    width: 110px;
    height: auto;
  }
}