.connect {
  width: 100%;
  padding: 120px 0;
  background: #fff;
}

.connect-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.connect-image {
  flex: 1;
}

.connect-image img {
  width: 100%;
  max-width: 500px;
  display: block;

}

.connect-content {
  flex: 1;

}

.connect-content h2 {
  font-size: 40px;
  line-height: 1.2;
  color: #1b1b1b;
  margin-bottom: 30px;
  font-weight: 700;

}

.connect-content p {
  font-size: 18px;
  color: #6b7280;
  line-height: 1.8;
  margin-bottom: 20px;

}

.connect-btn {
  padding: 20px 75px;
  background: #06B6F4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  transition: .3s;
}

.connect-btn:hover {
  background: #0089c9;

}

/* Tablet */

@media(max-width:992px) {

  .connect-container {
    gap: 40px;
    padding: 0 30px;
  }

  .connect-content h2 {
    font-size: 40px;
  }

  .connect-content p {
    font-size: 18px;
  }

}

/* Mobile */

@media(max-width:768px) {

  .connect {
    padding: 80px 0;
  }

  .connect-container {
    flex-direction: column;
    text-align: center;
  }

  .connect-image {
    order: 1;
  }

  .connect-content {
    order: 2;
  }

  .connect-content h2 {
    font-size: 32px;
  }

  .connect-content p {
    font-size: 16px;
  }

  .connect-btn {
    width: 100%;
  }

}

/* Small phones */

@media(max-width:480px) {

  .connect-content h2 {
    font-size: 28px;
  }

  .connect-content p {
    font-size: 15px;
  }

  .connect-content button {
    width: 100%;
  }

}