* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #fff;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "Lora", serif;
}

button {
  font-family: "Roboto", sans-serif;
}